{{ partial "header.html" . }}

<div class="container">
    <article class="post-container" itemscope="" itemtype="http://schema.org/BlogPosting">
    	 
        {{ partial "post-header.html" . }}
        <span>
        	{{ with .Site.Params.GithubEdit}}
             <a href='{{ . }}{{ $.Scratch.Get "FilePath" }}' class="btn">Edit this page on GitHub</a>
             {{ end }}
        </span>
        </p>
        {{ partial "post-content.html" . }}

        {{ partial "post-footer.html" . }}

        {{ partial "disqus.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}
